.category-box {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: rgb(36, 192, 4);
  padding: 15px;
  cursor: pointer;
  border: 2px solid rgba(255, 255, 255, 0.486);
  border-radius: 5px;
  transition: all 0.1s;
}

.category-box:hover {
  background-color: rgb(247, 247, 247);
}

.category-box:active {
  background-color: rgb(3, 138, 14);
  border-color: rgba(0, 0, 0, 0.3);
}
