article {
  display: flex;
  justify-content: space-between;

  align-items: center;

  width: 500px;
  height: 110px;

  border: 1px solid black;
  border-radius: 10px;

  padding: 10px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card section {
  display: flex;
  flex-direction: column;
}

.card p {
  padding-top: 30px;
}

.card img {
  width: auto;
  height: 80%;
  border-radius: 100%;
}
